# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CR_PF.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\thesy\Desktop\Education\Unity Projects\CR_PF\.idea\.idea.CR_PF\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
